/Ubicaciodeinventario.AppWeb/nbproject/private/
/Ubicaciodeinventario.AppDesktop/nbproject/private/
/Ubicaciodeinventario.AcecoADatos/nbproject/private/
/Ubicaciodeinventario.EntidadesDeNegocio/nbproject/private/
/Ubicaciodeinventario.AcecoADatos/build/
/Ubicaciodeinventario.EntidadesDeNegocio/build/
/Ubicaciodeinventario.EntidadesDeNegocio/dist/
/Ubicaciodeinventario.AcecoADatos/dist/
/Ubicaciodeinventario.AppWeb/build/
/Ubicaciodeinventario.AppWeb/dist/
